blinker==1.8.2
click==8.1.7
colorama==0.4.6
dnspython==2.6.1
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
numpy==2.0.1
opencv-python==4.10.0.84
pymongo==4.8.0
python-dateutil==2.9.0.post0
scikit-learn==1.5.1
scipy==1.14.0
setuptools==72.2.0
six==1.16.0
threadpoolctl==3.5.0
Werkzeug==3.0.3
wheel==0.44.0
